//META{"name":"AspectNetwork","description":"Aspect Network Theme https://discord.me/AspectNetwork","author":"Fr3aakzzz","version":"1"}*//{}
/* "AspectNetwork-Theme" by @Fr3aakzzz#9932 */

/*
---------------------------------------------------------------------------------------------------------------------------------------------
============== CUSTOMIZABLE COLORS ===============
*/

:root {
	--main-color: #800000;
	--hover-color: #808080;
    --background-blur: 0px;
    --background-brightness: 100%;
}

/*
--------------------------------------------------------------------------------------------------------------------------------------------
*/

/*
---------------------------------------------------------------------------------------------------------------------------------------------
========= CUSTOMIZABLE BACKGROUND IMAGE ==========
*/
body::after,
.callout-backdrop,
.userPopout-4pfA0d::before,
.root-2sNHUF::before,
#pubs-container::before,
.auth-background,
.auth-tiling-bg,
.invite-modal .invite-splash,
.radio-theme.light label,
.radio-theme.dark label {
    background-image: url(https://pbs.twimg.com/media/DUvM9xjU8AA3XTo.jpg) !important; /* IMPORTANT: Link must be HTTPS! */
}

/*
--------------------------------------------------------------------------------------------------------------------------------------------
*/